html * {
    font-family: Helvetica !important;
}

body {
    background-color: black;
}

/* miligram classes */

.button {
    background-color:  #FF851B;
    border: none;
}

/* Navigation Bar */

#main-menu ul {
    list-style-type: none;
    overflow: hidden;
    background-color:  #85144b;
}

#main-menu li {
    float: left;
    margin: 0;
}

#main-menu li .button {
    display: block;
    text-align: center;
    margin: 1rem 1rem;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.label {
    background: transparent;
    border: none;
    padding-right: 0;
}

.label:hover {
    background: transparent;
}

#antialias_toggle {
    background-color:  #2ECC40;
}

#render_toggle {
    background-color:  #2ECC40;
}

#info {
    background-color: #AAAAAA;
}

#main_layout {
    width: 100%;
}

/* Sidebar */

#sidebar {
    text-align: center;
}

#sidebar h1 {
    font-size: 2.4rem;
    color: white;
}

#fps {
    background-color:  #B10DC9;
    font-size: 1.5rem;
}

/* Main canvas */

#container {
    text-align: center;
}
